#map {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leaflet-control-attribution {
    background: rgb(38, 43, 49) !important;
}

.leaflet-control-attribution a {
    color: #82cdfa !important;
}
