#map {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.olControlAttribution {
    padding: 5px;
    background: rgb(38, 43, 49) !important;
}

.olControlAttribution a {
    color: #82cdfa !important;
}
